#!/bin/bash

set -e

dnf update -y
dnf install -y docker git

systemctl enable docker
systemctl start docker

usermod -aG docker ec2-user

cd /opt

git clone https://github.com/brandelas/prova-primeiro-bimestre-devops.git app

cd /opt/app/app

docker build -t reservas-api .

docker run -d \
  --name reservas-api \
  --restart unless-stopped \
  -p 3000:3000 \
  -e PORT=3000 \
  -e DB_HOST="${db_host}" \
  -e DB_PORT="${db_port}" \
  -e DB_NAME="${db_name}" \
  -e DB_USER="${db_username}" \
  -e DB_PASSWORD="${db_password}" \
  reservas-api